# 1. In the below elements which of them are values or an expression?

eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

Ans: Values are 'hello' , -87.8 , 6 Expressions are * , - , / , +

# 2. What is the difference between string and variable?

Ans. String is a data type and anything which is enclosed within single/ double quotes is treated as a string.
Eg. 'Hello'
Variable is a container which holds any value or data in itself. To assign a value to a variable '=' sign is used.
Eg. a=5

# 3. Describe three different data types.

Ans. Int : Int datatype is used to repersent the integer values irrespective of whether negative or postive (eg. a = 376, b = -751)
    
Boolean: These are data types which contain either of the two values that is true or false. 1 is True and 0 is false.

Strings: It can contain combination of text, numbers or special characters but it should be enclosed in single/double quotes depending upon the syntax of programming language.

Eg. - 'How are you now 132,&*^'

4. What is an expression made up of? What do all expressions do?

Ans. Any combination of operators and operands is called an expression. Expressions are used to calculate or evaluate values.

In [7]:
a = 1
b = 3
c = a + b # This is an expression
# a,b are operands, + is an operator
print(c)

4

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans. In python,
A statement is used for creating variables or for displaying values.
A statement is not evaluated for some results.

An expression produces some value or result after being interpreted by the Python interpreter.
An expression is evaluated for some results.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [10]:
#Ans.
bacon = 22

In [11]:
bacon+1

23

In [12]:
print(bacon)

22

So the variable bacon contains 22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [16]:
#Ans.
'spam' + 'spamspam'

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

The way of concatenation is different but the output is same.

8. Why is eggs a valid variable name while 100 is invalid?

Ans. Because in python, variable name cannot start with a number.  
In python for creating a new variable name, following rules are to be followed:

Variable name cannot start with numerical characters

variable can have alphanumeric characters and underscores.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

Ans. The three functions are int(), float(), str()

In [18]:
int(64.273)

64

In [20]:
int("3476")

3476

In [21]:
float(34)

34.0

In [22]:
str(624)

'624'

In [26]:
str(343 + 5j)

'(343+5j)'

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [28]:
#Ans.
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

Ans. We cannot concatenate integer with string. So we have to convert int to string

In [29]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

or

In [30]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'